// Base
@import "~compass-mixins";
@import "~normalize.css";
@import "../../../node_modules/font-awesome/scss/variables";
@import url(//fonts.googleapis.com/css?family=Open+Sans);

@import "var/all";
@import "etc/all";

@import "src/Icon";

body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	@include display-flex();
	@include background(image-url("bg-pattern.svg"),
			radial-gradient(10% 0, farthest-side ellipse, #414e60 20%, #94a3b1));
	//background: url("resources/bg-pattern.svg"),-webkit-radial-gradient(10% 0, farthest-side ellipse, #414e60 20%, #94a3b1);
	background-size: cover;
	background-attachment: fixed, fixed;
	min-width: 320px;
}